@using Walter.ViewModels;
@model MountainViewModel
@{
    ViewBag.Title = "Mountains";
}
<h2>Mountains</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mountain
                    @if (Convert.ToBoolean(Session["IsAdmin"]))
                    {
                        <a href="/mountain/AddMountain">
                            <i class="fa fa-plus-square" title="Add Mountain"></i>
                        </a>
                    }
                </th>
                <th>Elevation</th>
                <th>Location</th>
                <th>Summit Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mountain item in Model.Mountains)
            {
                <tr>
                    <td>
                        @item.Name
                    @if (!string.IsNullOrWhiteSpace(item.MountainNote))
                    {
                        @: <br />@item.MountainNote
                    }
                    </td>
                    <td>
                        @System.Convert.ToInt32(item.Elevation).ToString("###,###") ft &nbsp;(@Math.Round(System.Convert.ToDouble(item.Elevation) * 0.3048).ToString("###,###") m)
                    </td>
                    <td>
                        @{
                            @item.Country
                if (!string.IsNullOrWhiteSpace(item.State))
                {
                    @:/@item.State
            }

                if (item.Latitude != null && item.Longitude != null)
                {
                    @: <p class="small">@string.Format("{0:#,#.#####}", item.Latitude) / @string.Format("{0:#,#.#####}", item.Longitude)</p>
            }
                        }
                    </td>
                    <td>
                        @if (item.SummitLog.Any())
                        {
                            <ol class="small">
                                @{
                            int loopCount = 0;
                            foreach (var sl in item.SummitLog)
                            {
                                loopCount++;
                                <li style="margin-left: -20px; padding-left: 0px;">
                                    @String.Format("{0:MMM d, yyyy}", sl.SummitDate)
                                    @if (!String.IsNullOrEmpty(sl.SummitNote))
                                    {
                                        @:(@sl.SummitNote)
                                }
                                    @if (loopCount == item.SummitLog.Count && (Convert.ToBoolean(Session["IsAdmin"])))
                                    {
                                    <a href="/mountain/addLog?MountainName=@item.Name&MountainID=@item.Id">
                                        <i class="fa fa-plus-square" title="Add Climb"></i>
                                    </a>
                                    }
                                </li>
                            }
                                }
                            </ol>
                        }
                        else
                        {
                            if (Convert.ToBoolean(Session["IsAdmin"]))
                            {
                                <a href="/mountain/addLog?MountainName=@item.Name&MountainID=@item.Id">
                                    <i class="fa fa-plus-square" title="Add Climb"></i>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
