@using Walter.ViewModels;
@model List<VMmountain>
@{
    ViewBag.Title = "Mountains";

    var totalClimbCount = 0;
    var totalMtns = 0;
}
<a id="MtnTableTop"></a>
<div class="container">
    <br />
    <div class="well well-sm">
        <h2 id="MountainTitle" title="Mountain Count: @Model.Count, Climb Count:"><span class="glyphicon glyphicon-picture fa-lg"></span> Mountains</h2>
        Below is a list of mountains I have climbed
    </div>
    <span style="color:red; font-weight: bold">TO DO: </span>
    <ul>
    <li>Add ability to see Mountains climbed by Year (like photos page).</li>
    <li>Add ability to see Mountain climbed with in a certain time frame (ie 40 at 40)</li>
    </ul>
    <!-- ----------------------------------------------------------------------------- -->
    <!--  Add Mountain as Modal -->
    <!-- ----------------------------------------------------------------------------- -->
    <div class="modal fade" id="ModalAddMtn" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:10px">
                <button type="button" class="close" data-dismiss="modal" style="padding: 10px">&times;</button>
                <div class="well well-sm">
                    <h4>Add Mountain</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="/Mountain/SaveMountain" method="post">
                        <div id="Section1">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Name">Mountain Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Mountain Name" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Elevation">Elevation<br /><span class="small">(in feet)</span>:</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="Elevation" name="Elevation" placeholder="Elevation in feet" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Country">Country:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Country" name="Country" value="USA" placeholder="Country" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="State">Region:<br /><span class="small">(i.e State/Province)</span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="State" name="State" value="UT" placeholder="Region" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Latitude">Latitude:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Latitude" name="Latitude" placeholder="Latitude" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Longitude">Longitude:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Longitude" name="Longitude" value="-" placeholder="Longitude" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="MountainNote">Mountain Note:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" id="MountainNote" name="MountainNote" placeholder="Mountain Note"></textarea>
                                </div>
                            </div>
                            <div style="width:99%; text-align: right">
                                <a style="color: #337ab7; cursor: pointer;" onclick="ShowSection(2)">
                                    Next
                                    <i class="fa fa-hand-o-right"></i>
                                </a>
                            </div>
                        </div>
                        <div id="Section2" style="display: none;">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="SummitDate">Summit Date:</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="mtnSummitDate" name="mtnSummitDate" placeholder="Summit Date" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="SummitNote">Summit Note:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" id="mtnSummitNote" name="mtnSummitNote" placeholder="Summit Note"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10" style="width: 48%; float: right; text-align: right;">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <div style="width:48%; vertical-align: text-bottom">
                                    <a style="color: #337ab7; cursor: pointer;" onclick="ShowSection(1)">
                                        <i class="fa fa-hand-o-left"></i>
                                        Previous
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Mountain-->
    <!-- ----------------------------------------------------------------------------- -->
    <!-- Add Climb as Modal -->
    <!-- ----------------------------------------------------------------------------- -->
    <div class="modal fade" id="ModalAddClimb" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:10px">
                <button type="button" class="close" data-dismiss="modal" style="padding: 10px">&times;</button>
                <div class="well well-sm">
                    <h4 id="MtnName"></h4>
                    Add climb information
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="AddMtnForm" role="form" action="/Mountain/SaveLog" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SummitDate">Summit Date:</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="SummitDate" name="SummitDate" placeholder="Summit Date" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SummitNote">Summit Note:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="SummitNote" name="summitNote" placeholder="Summit Note"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        <input type="hidden" name="MountainID" id="MountainID" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Climb as Modal -->
    <!-- ----------------------------------------------------------------------------- -->
    <!-- Mtn Table-->
    <!-- ----------------------------------------------------------------------------- -->
    <div class="table-responsive" id="MtnTable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mountain
                        @if (Convert.ToBoolean(Session["IsAdmin"]))
                        {
                            <a><i class="fa fa-plus-square" title="Add Mountain" style="cursor:pointer" onclick="OpenModalAddMtn()"></i></a>
                        }
                    </th>
                    <th>Elevation</th>
                    <th>Location</th>
                    <th>
                        <div style="width: 48%; float: left;">Summit Date</div>
                        <div style="width: 48%; float: right; text-align: right;">
                            <a href="#MtnCount" title="Jump to button"><i class="fa fa-hand-o-down"></i></a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                totalMtns++;
                            }
                            <span title="@(totalMtns) of @(Model.Count)">@item.Name</span>
                            @if (!string.IsNullOrWhiteSpace(item.MountainNote))
                            {
                                @: <br /><span class="small">@item.MountainNote</span>
                            }
                        </td>
                        <td>
                            @Convert.ToInt32(item.Elevation).ToString("###,###") ft<br /><span class="small">(@Math.Round(Convert.ToDouble(item.Elevation) * 0.3048).ToString("###,###") m)</span>
                        </td>
                        <td>
                            @{
                    if (!string.IsNullOrWhiteSpace(item.State))
                    {
                        @item.Country @:/ @item.State
                                }
                    else
                    {
                        @item.Country
                    }

                    if (item.Latitude != null && item.Longitude != null)
                    {
                        @: <p class="small">@string.Format("{0:#,#.#####}", item.Latitude) / @string.Format("{0:#,#.#####}", item.Longitude)</p>
                                }
                            }
                        </td>
                        <td>
                            @if (item.SummitLog.Any())
                            {
                                <ol class="small">
                                    @{
                                int loopCount = 0;
                                foreach (var sl in item.SummitLog)
                                {
                                    totalClimbCount++;
                                    loopCount++;
                                    <li style="margin-left: -20px; padding-left: 0px;">
                                        @String.Format("{0:MMM d, yyyy}", sl.SummitDate)
                                        @if (!String.IsNullOrEmpty(sl.SummitNote))
                                        {
                                            @:(@sl.SummitNote)
                                                }
                                        @if (loopCount == item.SummitLog.Count && (Convert.ToBoolean(Session["IsAdmin"])))
                                        {
                                            <a onclick="OpenAddClimbModel(@(item.Id), '@(item.Name)')" style="cursor:pointer">
                                                <i class="fa fa-plus-square" title="Add Climb"></i>
                                            </a>
                                        }
                                    </li>
                                }
                                    }
                                </ol>
                            }
                            else
                            {
                                if (Convert.ToBoolean(Session["IsAdmin"]))
                                {
                                    <a href="/mountain/addLog?MountainName=@item.Name&MountainID=@item.Id">
                                        <i class="fa fa-plus-square" title="Add Climb"></i>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @if (Convert.ToBoolean(Session["IsAdmin"]))
                        {
                            <a id="MtnCount"><i class="fa fa-plus-square" title="Add Mountain" style="cursor:pointer" onclick="OpenModalAddMtn()"></i></a>
                        }<strong>Mountain Total:</strong> <span class="badge">@Model.Count</span>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><strong>Total Climbs:</strong> <span class="badge" id="TotalClimbCount">@totalClimbCount</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- End Mtn Table-->
</div>
<script>
    $(document).ready(function () {
        var titleText = $("#MountainTitle").prop("title") + " " + $("#TotalClimbCount").html();
        $("#MountainTitle").prop("title", titleText);
    });

    function OpenModalAddMtn() {
        ShowSection(1);
        $("#ModalAddMtn").modal();
    }

    function OpenAddClimbModel(mtnId, mtnName) {
        $("#MountainID").val(mtnId);
        $("#MtnName").text(mtnName);
        $("#ModalAddClimb").modal();
    }

    function ShowSection(num) {
        if (num == 1) {
            $("#Section2").hide();
            $("#Section1").fadeIn('slow');
        }

        if (num == 2) {
            var mtnName = $('#Name').val().trim().length;
            var mtnElevation = $('#Elevation').val().trim().length;
            var mtnCountry = $('#Country').val().trim().length;


            if (mtnName == 0) {
                $('#Name').focus();
                return false;
            }

            if (mtnElevation == 0) {
                $('#Elevation').focus();
                return false;
            }

            if (mtnCountry == 0) {
                $('#Country').focus();
                return false;
            }

            if ((mtnName > 0 && mtnElevation > 0 && mtnCountry > 0)) {
                $("#Section1").hide();
                $("#Section2").fadeIn('slow');
            }
        }

    }
</script>
