@using Walter.ViewModels;
@model List<VmMountain>
@{
	ViewBag.Title = "Mountains";

	var totalClimbCount = 0;
	var totalMtns = 0;
}
<a id="MtnTableTop"></a>
<div class="container">
	<br />
	<div class="well well-sm">
		<h2 id="MountainTitle" title="Mountain Count: @Model.Count, Climb Count:"><span class="glyphicon glyphicon-picture fa-lg"></span> Mountains</h2>
		Below is a list of mountains I have climbed.  See all @Model.Count mountains plotted on a <a href="../mountain/Map" target="_blank">map</a>.
	</div>
	<span style="color:red; font-weight: bold">TO DO: </span>
	<ul>
		<li>Add ability to see Mountains climbed by Year (like photos page).</li>
		<li>Add ability to see Mountain climbed with in a certain time frame (ie 40 at 40)</li>
		<li>Clean up <a href="@Url.Action("ScreenScrapper","Mountain")">ScreenScrapper</a>.
	</ul>
	@{
		Html.RenderPartial("~/Views/Shared/_AddMtn.cshtml", Model);
		Html.RenderPartial("~/Views/Shared/_AddClimb.cshtml", Model);
	}

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Mtn Table-->
	<!-- ----------------------------------------------------------------------------- -->
	<div class="table-responsive" id="MtnTable">
		<table class="table">
			<thead>
				<tr>
					<th>
						Mountain
						@if (Convert.ToBoolean(Session["IsAdmin"]))
						{
							<a><i class="fa fa-plus-square" title="Add Mountain" style="cursor:pointer" onclick="OpenModalAddMtn()"></i></a>
						}
					</th>
					<th>Elevation</th>
					<th>Location</th>
					<th>
						<div style="width: 48%; float: left;">Summit Date</div>
						<div style="width: 48%; float: right; text-align: right;">
							<a href="#MtnCount" title="Jump to button"><i class="fa fa-hand-o-down"></i></a>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@{
					totalMtns++;
							}
							<span title="@(totalMtns) of @(Model.Count)">@item.Name</span>
							@if (!string.IsNullOrWhiteSpace(item.MountainNote))
							{
								@: <br /><span class="small">@item.MountainNote</span>
                            }
						</td>
						<td>
							@Convert.ToInt32(item.Elevation).ToString("###,###") ft<br /><span class="small">(@Math.Round(Convert.ToDouble(item.Elevation) * 0.3048).ToString("###,###") m)</span>
						</td>
						<td>
							@{
					if (!string.IsNullOrWhiteSpace(item.State))
					{
						<a href="../mountain/Map?Country=@item.Country" target="_blank">@item.Country</a> @:/ <a href="../mountain/Map?State=@item.State" target="_blank">@item.State</a>
                    }
					else
					{
						@item.Country
					}

					if (item.Latitude != null && item.Longitude != null)
					{
						<p class="small">
							<a href="../mountain/Map?Id=@item.Id" target="_blank">
								@string.Format("{0:#,#.#####}", item.Latitude) / @string.Format("{0:#,#.#####}", item.Longitude)
							</a>
						</p>
					}
							}
						</td>
						<td>
							@if (item.SummitLog.Any())
							{
								<ol class="small">
									@{
								int loopCount = 0;
								foreach (var sl in item.SummitLog)
								{
									totalClimbCount++;
									loopCount++;
									<li style="margin-left: -20px; padding-left: 0px;">
										@String.Format("{0:MMM d, yyyy}", sl.SummitDate)
										@if (!String.IsNullOrEmpty(sl.SummitNote))
										{
											@:(@sl.SummitNote)
										}
										@if (loopCount == item.SummitLog.Count && (Convert.ToBoolean(Session["IsAdmin"])))
										{
											<a onclick="OpenAddClimbModal(@(item.Id), '@(item.Name)')" style="cursor:pointer">
												<i class="fa fa-plus-square" title="Add Climb"></i>
											</a>
										}
									</li>
								}
									}
								</ol>
							}
							else
							{
								if (Convert.ToBoolean(Session["IsAdmin"]))
								{
									<a href="/mountain/addLog?MountainName=@item.Name&MountainID=@item.Id">
										<i class="fa fa-plus-square" title="Add Climb"></i>
									</a>
								}
							}
						</td>
					</tr>
				}
				<tr>
					<td>
						@if (Convert.ToBoolean(Session["IsAdmin"]))
						{
							<a id="MtnCount"><i class="fa fa-plus-square" title="Add Mountain" style="cursor:pointer" onclick="OpenModalAddMtn()"></i></a>
						}<strong>Mountain Total:</strong> <span class="badge">@Model.Count</span>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><strong>Total Climbs:</strong> <span class="badge" id="TotalClimbCount">@totalClimbCount</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- End Mtn Table-->
</div>
<script>
	$(document).ready(function () {
		var titleText = $("#MountainTitle").prop("title") + " " + $("#TotalClimbCount").html();
		$("#MountainTitle").prop("title", titleText);
	});
</script>
