
@{
    ViewBag.Title = "Rock Climbs";
    var iceIcon = "<sup><i class=\"fa fa-snowflake-o\" aria-hidden=\"true\" title=\"Ice Climb\"></i></sup>";
    var jumpTo = "Jump to: <a href=\"#pre2010\">Pre-2010</a> | <a href=\"#2010\">2010</a> | <a href=\"#2011\">2011</a> | <a href=\"#2012\">2012</a> | <a href=\"#2013\">2013</a> | <a href=\"#2014\">2014</a> | <a href=\"#2015\">2015</a>| <a href =\"#2016\">2016</a> | <a href=\"#2017\">2017</a> | <a href=\"#2018\">2018</a> | <a href=\"#2019\">2019</a>  | <a href=\"#2020\">2020</a>";
}

@Html.Raw(jumpTo)
<br />
<br />
<a id="pre2010" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">1981 – 2009 <i style="font-weight:normal">(Approximation logged Nov 15, 2013)</i></div>
</div>
<ol>
    <li>1981 - Learned to rappel outside Cardston, Alberta on Gregson’s land with Ventures.</li>
    <li>1986(?) - Top-roped in Rock Canyon, Provo, with Sean Skelton.</li>
    <li>Spring 1993 - Ferns Chocolate wall in Cardston with Duane Beazer.</li>
    <li>Summer 1993 - Top roped on Bears Hump, Waterton, Alberta with Kyle Heniger and friends.</li>
    <li>October 1993 - Stone Hill, MT (2 trips) with Duane Beazer and friends.</li>
    <li>Summer 1994 - Bridge wall in Edmonton, Alberta with Duane Beazer.</li>
    <li>March 1998 - Sport-Rock gym in Alexandria, VA with Mat.</li>
    <li>Summer 2001(?) - Potomac River, VA, with Colin Gibb</li>
</ol>

<a id="2010" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2010 <i style="font-weight:normal">(Approximation logged Nov 15, 2013)</i></div>
</div>
<ol>
    <li>January 30 – Ice climbed at Maple Canyon, UT with UCC. Top-roped seven routes that day namely Rubber Cup Nausea, Moroni Turkey Plant, Arch (not real name), Lemon, Running Man, Road Side Coulior, and Under Wraps. @Html.Raw(iceIcon)</li>
    <li>February 2010 – Gym membership at The Quarry, Provo, UT.</li>
    <li>April 10 – Wall Street in Moab with UCC.</li>
    <li>June 19 – Meat Wall, Rock Canyon, Provo, UT with UCC.</li>
    <li>July 29 – Appendage: Only Wimps(?), Full Appendage(?), Lead(?); Rock Canyon, Provo, UT with Glenn Merrill.</li>
    <li>August 10 – The Wild, Rock Canyon, Provo, UT with Carl Line.</li>
    <li>August 12 – First multi-pitch climb, and simul-rappel.  George area of Rock Canyon with Glenn Merrill.</li>
    <li>August 14 – Red Wonder Wall, Santaquin Canyon, UT with UCC.</li>
    <li>August 19 –The Wild, Rock Canyon, Provo, UT with Carl Line.</li>
    <li>August 24 – Green Monster Slab: Green Jello, Green Monster (route), Rock Canyon, Provo, UT with Glenn Merrill.</li>
    <li>August 28 – Red Wonder Wall, Santaquin Canyon, UT with Glenn Merrill.</li>
    <li>August 31 – Job Site/Layer Cakes area, Rock Canyon, UT with Glenn Merrill.</li>
    <li>September 2 - The Wild, Rock Canyon, Provo, UT with Carl Line.</li>
    <li>September 4 – Rain Dance on Flaming Rock at the City of Rocks Idaho, as well as Tribal Boundaries and Reservations. Followed by Cruel Shoes on Stripe Rock. With Glenn Merrill.</li>
    <li>September 5 – Skin the Cat at Site 18 City of Rocks, followed by Big Time at Castle Rock. With Glenn Merrill.</li>
    <li>September 10 – Jackson’s Thumb via the Theater of Shadows, City of Rocks, with Glenn Merrill, Jake Moon, and Wayne Pullman followed by Delay of Game, and Scream Cheese on Parking Lot Rock and Anteater Rock respectfully. Free soloed Cowboy Route on Bath Rock with Jake, and Glenn.</li>
    <li>September 11 – Steinfelds Dome via Sinocranium with Glenn Merrill, Jake Moon, and Wayne Pullman followed by “Too Much Fun” on Bumblie Rock. City of Rocks, Idaho.</li>
    <li>September 15 – Cosmic Dust Lazers, Rock Canyon, with Carl Line.</li>
    <li>September 18 – Curious George, Rock Canyon, with Glenn Merrill.</li>
    <li>September 25 – Hard Rock area in American Fork Canyon with A.S.S.</li>
    <li>October 23 – Solar Slab Gully, and Solar Slab Route at Red Rock Canyon, NV – with Glenn Merrill, Matt Long, and Matt Jesperson.</li>
    <li>Nov 27 - Ice climbed CCC in Joes Valley with Matt Jesperson @Html.Raw(iceIcon)</li>
    <li>Dec 3 - Quarry with Lucy Ordaz.</li>
</ol>

<a id="2011" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2011 <i style="font-weight:normal">(Approximation logged Nov 15, 2013)</i></div>
</div>
<ol>
    <li>July 2 – Bolt Slab: Dance of the Pregnant Wildebeest ,Rock Canyon with Ana Serrano.</li>
    <li>Aug 20 – Cosmic Dust Lazers(?) with Glenn M, then the Appendage: Only Wimps(?), Lead(?).</li>
    <li>Aug 27 – Curious George, Rock Canyon with Matt Long, followed by The Zoo.</li>
    <li>Sept 3 – Trilogy Buttress with Matt Long and Matt Jesperson. MJ lead the 5.8 first pitch just below Wizardly Way.  I lead Wizardly Way, Matt Long took the 5.9 pitch 3 to the left of Shards of Narsil.</li>
    <li>Sept 10 - Jackson Marvell and I climbed Cosmic Dust Lazers, followed by the same first two pitches on Trilogy Buttress as Sept 3.  We did it as four pitches; he lead 1 and 3 I lead 2 and 4.  For the fourth pitch I got on My Precious and it turned out to be trad, and I had no pro. Jackson dropped his Go-Pro from the top and it was okay.</li>
    <li>Sept 16 – Western Front followed by followed by the same first two pitches on Trilogy Buttress as Sept 3, and Shards of Narsil for pitches 3 and 4.  I lead P1 & 3.  With Matt Long(?).</li>
    <li>Sept 23 – East Buttress of Mt. Whitney, CA with Matt Jesperson and Matt Long.</li>
    <li>Dec 10 – Ice climbed Millers Thriller in Provo Canyon with Alec LaLonde  @Html.Raw(iceIcon)</li>
</ol>

<a id="2012" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2012 <i style="font-weight:normal">(Approximation logged Nov 15, 2013)</i></div>
</div>
<ol>
    <li>May 11 – Western Front & Cosmic Dust Lazers, Rock Canyon with Sam Cannon.</li>
    <li>May 22 -  Cosmic Dust Lazers again with Sam Cannon.</li>
    <li>May 26 – Layer Cakes area, explored someone project with Matt Long.</li>
    <li>May 28 – Galaxy area, Tatooine wall, various route, Rock Canyon, with Jackson Marvel. Rappelled down Squaw Struck.</li>
    <li>May 31 – Jawa Jam and other routes in Galaxy Area with Matt Long.</li>
    <li>June 8 – Sundial Peak via the 11th hour route with Tristian Higbee.</li>
    <li>June 12 - Red Slab: Pregnant Guppy, Mr. Cornflakes, The Mantel Route with Sam Cannon.</li>
    <li>June 16 – West Slabs of Mt. Olyumpus with Brad Yates, Andrew May, and Alex and Lani Wilson.</li>
    <li>June 22 – Cosmic Space Dust Lazers, all 6 pitches, with Tristian Higbee.</li>
    <li>June 29 – Open Book route in the Lone Peak Cirque with Matt Long along with Matt Jesperson with Thomas Gappmayer, and Jake Moon with Sam Cannon.</li>
    <li>June 30 – Lowe Route on Question Mark Wall with Jake Moon and Sam Cannon.</li>
    <li>July 7 –London Spire with Sam Cannon and Scott Cooney.</li>
    <li>July 10 - Trilogy Buttress with Sam Cannon.</li>
    <li>July 21 – Upper Exum route on the Grand Teton with Scott Cooney, Ben Brutsch,  & Gabe Diarte.</li>
    <li>July 28 – Mt Ogden with Jackson Marvel, and Scott Cooney with Jessica Goelz.  I had just ordered seven camalots and a set of stoppers, the cams arrived and we used them.</li>
    <li>August 3 – SE Ridge of Superior, free soloed.</li>
    <li>August 11 – Devils Castle at Alta, UT via the Portable Darkness route with Scott Cooney.</li>
    <li>November 13 – Pitch one of Stairway to Heaven Ice Climb, Provo Canyon, with Dan Christopherson  @Html.Raw(iceIcon)</li>
    <li>December 7 – 4th class scramble, solo, to old restaurant above Bridal Falls, Provo Canyon.</li>
    <li>December 9 – Dirtcicle, Helper UT, with Rick Barrett  @Html.Raw(iceIcon)</li>
    <li>December 11 - Pitch one of Stairway to Heaven Ice Climb, Provo Canyon, with Ana Serrano  @Html.Raw(iceIcon)</li>
    <li>December 15 – Dirtcicle, Helper UT, with Jackson Marvel (my first time leading ice)  @Html.Raw(iceIcon)</li>
    <li>December 16 – CCC at Joes Valley with Rick Barrett.  Rappelled Donorcicle but it was too wet to climb  @Html.Raw(iceIcon)</li>
    <li>December 18 – Stairway with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>December 20 – Dirtcicle with Jackson Marvel, Ammon Hatch, and John Rogers  @Html.Raw(iceIcon)</li>
    <li>December 26 – French Kiss in Waterton Alberta, belayed by Chad London (Kyle Henigers brother in-law)  @Html.Raw(iceIcon)</li>
    <li>December 31 – Quick and Dirty , Waterton Alberta, with Jon Low  @Html.Raw(iceIcon)</li>
</ol>

<a id="2013" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2013 <i style="font-weight:normal">(Approximation between May 2 and August 10. Logged November 16, 2013)</i></div>
</div>
<ol>
    <li>Jan. 5 – 2 pitches of Stairway to Heaven with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Jan. 10 – Far left (east) line on Stairway with Matt Long  @Html.Raw(iceIcon)</li>
    <li>Jan. 17 – Stairway with Matt Long, Dan Thrasher, Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Jan. 19 – Maple Canyon with Rick Barrett & Jackson Marvel. Climbed Running Man, Underwraps and Cobble Cruncher  @Html.Raw(iceIcon)</li>
    <li>Jan. 25 – Ouray Ice Park at the Uncompahgre Gorge, CO with Rick Barrett. Alcove area(?): Verminator(?), Duncan’t Delight(?). Five Fingers area: In The Pink.  Scottish Gullie: UK Garage(?). New Funtier: Pocahontas(?), and GNR(?).Flamenco(?) (at lower end of the trestle)  @Html.Raw(iceIcon)</li>
    <li>Jan 26 - Ouray Ice Park at the Uncompahgre Gorge, CO with Rick Barrett. Popsicle route, Tooth Decay, Shithouse wall:  Tucks, and Picnic area  @Html.Raw(iceIcon)</li>
    <li>Jan 31 – Stairway with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Feb 7 – Pitch one of Millers Thriller with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Feb 14 - Stairway with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Feb 21 – Stairway with Ben Brutsch  @Html.Raw(iceIcon)</li>
    <li>Feb 22 – Great White Icicle in Little Cottonwood Canyon, with Scott Cooney  @Html.Raw(iceIcon)</li>
    <li>Feb 23 – Itchy and Scratchy with Ben Brustch  @Html.Raw(iceIcon)</li>
    <li>Feb 27 – Itchy and Scratchy with Jackson Marvel  @Html.Raw(iceIcon)</li>
    <li>Feb 28 – Itchy and Scratchy with Ben Brustch  @Html.Raw(iceIcon)</li>
    <li>Mar 2 - Great White Icicle and Scruffy Band with Ben Brustch  @Html.Raw(iceIcon)</li>
    <li>March 14 – Appendage: Only Wimps(?),Lead(?) with Ben Brustch.</li>
    <li>March 15 – Red Slab: Mr. Cornflakes, The Mantel Route, self-belay.</li>
    <li>April 4 – Cosmic Dust Lazers with Ben Brustch.</li>
    <li>April 11 – Tinker Toys: G.I Joe, Barbie, K’Nex with Ben Brustch.</li>
    <li>April 18 – Western Front with Ben Brustch.</li>
    <li>May 2(?) – Tatooine : Jawa Jam, and the route to its left,  with Ben Brustch.</li>
    <li>May 9(?) - Red Slab: Mr. Cornflakes, The Mantel Route; self-belay.</li>
    <li>May 24 – Beckey’s Wall, LCC, with Scott Cooney.</li>
    <li>May 24 – Tingeys Terror, LCC, with Scott Cooney.</li>
    <li>May 24 - Gate Buttress LCC , Half A Figure, LCC with Scott Cooney & Jake Moon.</li>
    <li>May 27 – Guerts Ridge with Jackson Marvel.</li>
    <li>June 12 – Red Slab: Mr. Cornflakes, The Mantel Route, Rock Canyon, with Tim Chen and Lani Wilson.</li>
    <li>June 13 – Tinker Toys: G.I Joe, Barbie, K’Nex, RC, with Jenny Quinn Overdiek.</li>
    <li>June 25 – Red Slab route and Main Crack (Ed & Terry Wall), with guys I meet at the crag.</li>
    <li>June 27 - Cosmic Dust Lazer, RC, with Jenny Quinn Overdiek.</li>
    <li>July 2(?) - Main Crack (Ed & Terry Wall),self-belay.</li>
    <li>July 5 – Maple Canyon with WMC - Road Kill Wall: “Listen to your Dinner” and the 5.9 on the arête just right of “Listen to your Dinner”, “Roach on Rye”, “Tomato Man”, “Worm Hole Boodie”.  Schoolroom Wall “Drowning Baby Fish” with Steve Duncan and Tom Oaks. Oxygen Wall: Key Lime Sky with Nathan Schweitz.</li>
    <li>July 6 - Maple Canyon with WMC - Billy the Kid Wall: “I’ll Make You Famous”, Salsa Vasa .  Oxygen Wall: Key Lime Sky, and the one to the left of it with Tom Oaks. Birthday Corridor: Steve & Elsie with Aymara Jimenez, High Desert Pelicans with Tom Oaks. Rock Island Area(?) – Unnamed route, with Nathan Schweitz.</li>
    <li>July 7 - Thessalonian Buttress, via the Grecian Highway  route at Maple with John Shields.</li>
    <li>July 13 – Hard Rock: Gas Boost, Plantinum Blonde, Stoic Calculus, Unknown Right(?), Unknown Left(?);  AF, with Glenn Merrill, Aymara Jimenez, and Mike Gibby.</li>
    <li>July 17 – Hard Rock: Rockapella, Stoic Calculus(both pitches), Eight to Eleven (P1 only) ; AF, with Glen Merrill, and others.</li>
    <li>July 18 – Green Monster Slab: Green Jello (route) & Curious George, RC, with Jenny Quinn Overdiek.</li>
    <li>July 25(?) – Appendage: Only Wimps(?), Full Appendage(?), Lead(?) with Glenn Merrill , Candice Morgan & others. Green Monster Slab: Green Jello, Green Monster (route) with Glenn Merrill.</li>
    <li>July 27 – School Room: Big Kahuna, Chocolate Doobie, Redemption of Madonna, Hot 4 Teacher;  Changing the Stripes, Key Lime Sky at Maple with Michael & Helene Ramsey & Ken Meleta.</li>
    <li>July 28 – Tachycardia on Heart Rock with Helene Ramsey & Ken Meleta.</li>
    <li>July 31 – Red Rock: Third Molar Roundup(?), Draper, UT – self-belay.</li>
    <li>Aug. 1 (?) – Tank Canyon(?) area of AF canyon 4 routes, with Glenn Merrill, Carole Hughes Jenson, and others.</li>
    <li>Aug. 2 – Red Slab route with Shazia and Taylor Chiu.</li>
    <li>Aug. 3 – Attempted Kamps Ridge, Mt. Olympus with Chris Pattillo.</li>
    <li>Aug. 6 (?) – Jawa Jam in Galaxy area of Rock Canyon, with Ana Serrano.</li>
    <li>Aug. 8 – Tinker Toys: G.I Joe, Barbie, K’Nex, RC, with Austin Kenison, Carole Hughes Jenson, Erin DeLlamas.</li>
    <li>Aug. 10 – Red Rock Draper: Face Plant(?), Bloody Impact(?), Facial Fracture(?), UT – with Aymara Jimenez and Luke.</li>
    <li>August 16, climbed Penta Pitch with Tom Oaks  - we did it in 3 pitches I lead P1 & 3.  P3 was tough.</li>
    <li>Aug. 17 - Cosmic Dust Lazers, 6 pitches, with William DaBell.</li>
    <li>Aug. 18 - P.A’s Mother Ana belayed me on the Exposed Cleavage route.</li>
    <li>Aug. 19 - Outer Corner on the JHCOB with Neil Steinert .  I lead p2-p4.  Also climbed at Salt Lake Slips area.</li>
    <li>Aug.20 (or was this August 15?) climbed Black Rose with Ana on the Pink Canoe route.</li>
    <li>Aug.22 - Green Monster Slab: Green Jello, Green Monster (route) and Curious George with Rob Hyldah.</li>
    <li>Aug.23 - Maple Canyon with William DaBell and Ben Brutsch , just “Tachycardia” on Heart Rock, as we got rained out.</li>
    <li>Aug. 25 - Red Slab: Mr. Cornflakes, The Mantel Route belayed by Ana.</li>
    <li>Sept. 2  - Meat Wall: Tofu, The Cleaver; Super Bowl Wall: Where’s my Sherpa;with Josh Jones.</li>
    <li>Sept. 4 - Western Front with Josh Jones and Crystal.</li>
    <li>Sept. 6 - 11th Hour on Sundial Peak with William DaBell.</li>
    <li>Sept 10  - NE face of Pingora (1000 feet), WY with Mike Sullivan.</li>
    <li>Sept.  13 - Attempted Wolf’s Head, WY, but retreated due to incoming rain. With Mike Sullivan.</li>
    <li>Sept 20 - Couple of the routes on Practice Rock, first pitch of “Rain Dance” on Flaming Rock, and Too Much Fun on Bumblie Rock belayed by Ana Serrano. Free-soloed the “Cowboy Route. City of Rocks, Idaho.</li>
    <li>Sept 21 – Bolted route on Elephant Rock, rock just south (and a bit east) of Elephant Rock.  ½ bolted and ½ trad route. Cruel Shoes on Stripe Rock. City of Rocks, Idaho with Crystal, Josh Jones, and MaryMegan. Free-soloed the “Cowboy Route with Josh Jones.</li>
    <li>Sept 22 - Parking Lot Rock:  “Delay of Game” and “Norma’s Book” with Josh Jones at City of Rocks, Idaho.</li>
    <li>Sept 24 - Dead Snag area (Jigs Up, East Dihedrals, and Steort’s Ridge) in BCC, with Josh Jones.</li>
    <li>Sept 25 - Hamlet Wall.  I did a 5.7, 5.8 (2 times), 5.9, and a 5.10a at Red Rock Canyon NV with Josh Jones.</li>
    <li>Sept 26 -  Cat-In-The-Hat route on Mescalito, Red Rock Canyon NV with Josh Jones.</li>
    <li>Sept 27 - Cookie Monster on Mescalito, Red Rock Canyon NV with Josh Jones.</li>
    <li>Oct 1 –Trilogy buttress with Matt Long.</li>
    <li>Oct 2 –  2nd East Face on JHCOB with Tom Oaks as well as Steorts Ridge.</li>
    <li>Oct 4 – 30 Seconds Over Potash, Nervous in Suburbia  at Wall Street, Moab UT. Left Slab, Parlor Game, Critical Mass, 5.6 Corner at Ice Cream Parlor.</li>
    <li>Oct 5 – Attempted Incredible Hand Crack  and Gorilla, climbed Twin Cracks at Supercrack Buttress at Indian Creek, UT with Danny Lay.</li>
    <li>Oct 6 - Charlies Pillar on the Optimator wall with Ruebin Cousin and again with William DaBell.</li>
    <li>Oct 18 – Attempted Kamp’s Ridge with William DaBell.</li>
    <li>Oct 22 –Maple with Tricia Hurst, “Tachycardia” on Heart Rock, simul-climbed Changing the Stripes.  I belayed her in Right Fork. The Great Chasm in the Middle Fork.</li>
    <li>Oct 23 – Climbed Outside Corner and East Dihedral with Tom Oaks.</li>
    <li>Oct 26 – Climbed Olive Oil route at Red Rock, NV with Wayne Pullman and Aaron White.</li>
    <li>Oct 27 – Climbed Johnny Vegas and Solar Slab at Red Rock, NV with Wayne Pullman and Aaron White.– over 1600 vertical in one day!</li>
    <li>Oct 28 – Climbed on Prophesy Wall outside St. George with Wayne Pullman and Aaron White.</li>
    <li>Nov 1 – Climbed Led by Sheep and Weep Rock Chimney – Left Side’ in Zion Canyon NP with Daniel Lay and William DaBell.</li>
    <li>Nov 2 – Climbed all but last two pitches of Chimney Sweep in Zion Canyon NP with Daniel Lay.</li>
    <li>Nov 3 – Scrambled (some 5th class sections) Old Cable Route to top of Lady Mtn Side in Zion Canyon NP with William DaBell.</li>
    <li>Nov 19 – Dirtcicle, Ice climbing, 5 laps – with William DaBell (Williams first time ice climbing)  @Html.Raw(iceIcon)</li>
    <li>Dec 11 – Climbed Itchy and Scratchy with Ben Brutsch  @Html.Raw(iceIcon)</li>
    <li>Dec 18 – P1 and P2 (as three pitches) on Stairway with Ben Brutsch  @Html.Raw(iceIcon)</li>
    <li>Dec 20 – Stairway P1 (as two pitches, I led p1, Ben led p2), then meet Jake Moon, and William D and climbed White Nightmare and Bridal Veil right (Ben led both)  @Html.Raw(iceIcon)</li>
    <li>Dec 23 - Itchy and Scratchy  with Jackson Marvel in the afternoon, led it once, then free soloed it (no rope), then did a mixed route on the right  @Html.Raw(iceIcon)</li>
    <li>Dec 27 – Did GWI with William DaBell  @Html.Raw(iceIcon)</li>
</ol>

<a id="2014" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2014</div>
</div>
<ol>
    <li>Jan 3 – 3 pitches on Millers Thriller with Ben B and Jackson M – each lead one pitch  @Html.Raw(iceIcon)</li>
    <li>Jan 4 – 2 pitches on Millers Thriller with William DaBell – I lead P2 – fun long pitch  @Html.Raw(iceIcon)</li>
    <li>Jan 5 – Lost in Time (aka Sundial Falls)  with William DaBell, I lead it - bad ice at top  @Html.Raw(iceIcon)</li>
    <li>Jan 24 - Squash Head with William DaBell (aidded up rock to get rope in, ice was thin at bottom)  @Html.Raw(iceIcon)</li>
    <li>Jan 31 - Ouray - 5 Laps on routes in Finger Fingers area, 1 route at lower bridge, and 1 at New Funtier (With Matt Long & William DaBell)</li>
    <li>Feb 1 - School Room at Ouray - 8 laps on 4 climbs  @Html.Raw(iceIcon)</li>
    <li>Feb 2 - 5 pitches of ice at South Park Area of Ouray  @Html.Raw(iceIcon)</li>
    <li>Feb 6 - Lead P1 of Stairway to Heavan, then did four TR laps. Climbed with Pat McGuinness  @Html.Raw(iceIcon)</li>
    <li>Feb 8 - Mixed route to the left of Itchy & Scratchy, TR Itchy and Scratchy (3 times) plus 2 free solo climbs. (William D, and Pat M.)  @Html.Raw(iceIcon)</li>
    <li>Feb 11 - Climbed solo belay laps on Itchy & Scratchy (3 laps).  @Html.Raw(iceIcon)</li>
    <li>Feb 15 - Western Front (3-pitches with Pat McGuinness & Josh Jones) followed by 3 pitches of Cosmic Space Dust Lazers. Record Breaking warm weather in Provo.</li>
    <li>Feb 17 - Western Front (3-pitches with Pat McGuinness) followed by two laps on Along Came a Strider (I lead it).</li>
    <li>Feb 18 - Drivers Test and Paper Route at the Job Site, followed by Red Slab route and Desperado on Red Slab all with Pat McGuinness.</li>
    <li>Feb 24 - Sport routes on Panty Wall at Red Rock Canyon with Tom Oaks (4 climbs)</li>
    <li>Feb 25 - Sport routes on Panty Wall at Red Rock Canyon with Tom Oaks (4 climbs)</li>
    <li>Feb 26 -  Cat in the Hat at Red Rock Canyon with Tom Oaks (6 pitches)</li>
    <li>March 14 - Paper Route Rock Canyon with Pat McGuinness, followed by Run for Cover (2- pitches).</li>
    <li>March 15 - Brain Full of Spiders on Bad Bananas wall Rock Canyon with Pat McGuinness, as four pitches.</li>
    <li>March 22 - Trilogy Buttress via Along Came a Strider, and Shards of Narsil, with Pat McGuinness as four pitches.</li>
    <li>April 4 - Run for Cover and 3rd Pitch of Cosmic Space Dust Lazers, with Pat McGuinness</li>
    <li>April 29 - Seven climbs at the UVU gym with Ana and Dave Morrey</li>
    <li>May 1 - Seven climbs at the UVU gym with Ben B</li>
    <li>July 8 - First three pitches of Cosmic Dust Lazers with Sean Stanton.</li>
    <li>July 22  - The Cleaver on the Meat Wall in Rock Canyon with Sean Stanton, followed by TR of Green Monstor (route), and pitch one of Green Jello</li>
    <li>July 24 - Only Wimps Top-rope the Bulge with Sean Stanton</li>
    <li>July 29 - Red Slab and Desperdo with Sean Stanton</li>
    <li>July 31 - Western Front with Sean Stanton</li>
    <li>August 1 -The Hook (LCC) with William DaBell</li>
    <li>August 6  - The Cleaver on the Meat Wall in Rock Canyon with Pat McGuinness, followed by TR of Green Monstor (route), and pitch one of Green Jello</li>
    <li>August 14 - Curious George and K'Nex with Sean Stanton</li>
    <li>August 19 - left most route (5.6 ish) on the Tatooine wall with Sean Stanton in Rock Canyon.</li>
    <li>August 23 - Cosmic Dust Lazers, Rock Canyon, with Sean Stanton (2-pitches only).</li>
    <li>Sept 6 - Red Red Whine, Desperado, at Red Slab Rock Canyon with Sean Stanton</li>
    <li>Sept 12 – Climbed Tachycardia and The Grecian Highway in Maple Canyon with Pat M</li>
    <li>Oct 7 - Climbed SE Buttress of Cathedral Peak in Tuolumne Meadows of Yosemite with Danny Lay</li>
    <li>Oct 7 - Climbed North Face of Eichorn Pinnacle in Tuolumne Meadows of Yosemite with Danny Lay</li>
    <li>Oct 8/9 - Climbed 4 pitches of South Face of Washington Column Yosemite Valley with Danny Lay</li>
    <li>Oct 10 - Climbed all 16 pitches of Royal Arches in Yosemite Valley with Danny Lay</li>
</ol>

<a id="2015" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2015</div>
</div>
<ol>
    <li>Feb  7 - Western Front (3-pitches with Pat McGuinness)</li>
    <li>March 13 - Trilogy Buttress (3-pitches with Pat McGuinness)</li>
    <li>April 25 - Climbed at the indoor wall at Petzel in SLC - 4 pitches (routes)</li>
    <li>June 9 - Curious George, and Along Came a Strider with Jacob Barzee</li>
    <li>June 17 - Appendage with Mac Gilbert (3 or 4 routes)</li>
    <li>June 19 - The Zoo and The Wild with Mac (5 or 6 routes)</li>
    <li>June 23 - Jacob B and I  did P1 and 2 of Cosmic Dust Lazers,  and the third pitch the one to right of Cosmic</li>
    <li>June 27 - Jacob B and I climbed  Tachycardia, Changing the Stripes, and Grecian Highway in Maple Canyon.</li>
    <li>July 3 - Sam Pittman and I climbed 5 routes at the Wild.</li>
    <li>July 9 - Pat M and I climbed Cool World Direct (5.6) twice each, then moved to the Hidden Wall and climbed Boltergeist (5.9), and TR Jugular (5.8) and Flakenstein </li>
    <li>July 13 - Self belayed the main crack on Ed and Terry Wall four times, then dropped down to Red Slab and did two self belay laps on the Mantel Route.</li>
    <li>July 15 - Red Spire, and Real McCoy (2-laps) with Jacob B</li>
    <li>July 17 - Self belayed Real McCoy (2 laps), Main Crack (1 lap) and I.D Claire (2 laps).</li>
    <li>July 22 - Cosmic Dust Lazers P1-3 with Ken Fairchild (his first outdoor climb, lead, and multi-pitch)</li>
    <li>July 25 - Reb Slab, Red Red Whine, Red Dwarf, and Leave it to Bearer with Ken F.</li>
    <li>August 1 -K'nex, Barbie, GI Joe, Lincoln Logs with Ken F</li>
    <li>August 2 - West Slabs of Oly, solo.  Nightmare bushwack walk off two gullys over to the south heading west.</li>
    <li>August 19 - Quarry (indoor):  Climbed 5.10a (for warm up), 5.10a to get lead cert, 5.10c. 5.10b, 5.11 a, 5.9</li>
    <li>August 22 - Ken F and I climbed at P.A's Mother:  Exposed Clevage (lead once, TR once), R.R. Crossing (TR),High Hopes (lead)</li>
    <li>Sept 3 - Joined the Quarry, climbed with Ken F</li>
    <li>Sept 4 - Climbed at Quarry with Jacob B</li>
    <li>Sept 7 - Quarry with Ken F</li>
    <li>Sept 14 - Quarry with Ken F</li>
    <li>Sept 17 - Quarry with Ken F</li>
    <li>Sept 19 - Green Jello and Green Monster with Ken F</li>
    <li>Sept 21 - Quarry with Ken F</li>
    <li>Sept 23 - Quarry with Ken F</li>
    <li>Sept 28 - Quarry with Ken F</li>
    <li>Sept 30 - Quarry with Ken F</li>
    <li>Oct 7 - Quarry with Jacob B</li>
    <li>Oct 9 - Quarry with Ken F</li>
    <li>Oct 14 - Quarry with Ken F</li>
    <li>Oct 16 - Quarry with Ken F</li>
    <li>Oct 19 - Quarry with Ken F</li>
    <li>Oct 21 - Quarry with Ken F</li>

    <li>Oct 28 - Quarry with Ken F</li>
    <li>Oct 30 - Quarry with Ken F</li>
    <li>Nov 1 - Brain Full of Spiders on Bad Bananas wall Rock Canyon with Danny Lay, as two pitches.</li>

    <li>Nov 2 - Quarry with Ken F</li>
    <li>Nov 4 - Quarry Bouldering solo</li>
    <li>Nov 6 - Quarry with Ken F</li>
    <li>Nov 9 - Quarry with Ken F</li>
    <li>Nov 14 - Quarry with Ana (belayer only)</li>
    <li>Nov 16 - Quarry with Ken F</li>
    <li>Nov 18 - Quarry with Ken F</li>
    <li>Nov 21 - Dirtcicle (ice) with Brad Meyers (4 laps)  @Html.Raw(iceIcon)</li>
    <li>Nov 23 - Quarry with Glenn Merril</li>
    <li>Nov 25 - Quarry with Ray Loveless, then again with Ken F</li>
    <li>Nov 27 - Stairway (ice) with Brad Meyers (2 laps on center route, free solo the little right side, 3 laps left (tallest) route)  @Html.Raw(iceIcon)</li>
    <li>Nov 30 - Quarry with Ken F</li>
    <li>Dec 2 - Quarry with Ken F</li>
    <li>Dec 5 - CCC with Brad Meyers (ice)  @Html.Raw(iceIcon)</li>
    <li>Dec 7 - Quarry with Glenn M</li>
    <li>Dec 9 - Quarry with Ken F</li>
    <li>Dec 12 - Quarry with Ken F</li>
    <li>Dec 16 - Quarry with Ken F</li>
    <li>Dec 21 - Quarry with Ken F</li>
    <li>Dec 23 - Quarry with Ken F</li>
    <li>Dec 26 - Ice, Stairway, with Brad M  @Html.Raw(iceIcon)</li>
    <li>Dec 28 - Quarry with Ken F</li>
</ol>

<a id="2016" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2016</div>
</div>
<ol>
    <li>Jan 2 - GWI, with Brad M  @Html.Raw(iceIcon)</li>
    <li>Jan 6 - Quarry with Ken F</li>
    <li>Jan 8 - Quarry with Ken F</li>
    <li>Jan 11 - Quarry with Ken F</li>
    <li>Jan 13 - Quarry with Ken F</li>
    <li>Jan 18 - Quarry with Ken F</li>
    <li>Jan 20 - Quarry with Ken F</li>
    <li>Jan 23 - Ouray Ice with Brad M  @Html.Raw(iceIcon)</li>
    <li>Jan 24 - Ouray Ice with Justin Matis  @Html.Raw(iceIcon)</li>
    <li>Jan 27 - Quarry with Mike</li>
    <li>Jan 29 - Quarry with Richard Hilton</li>
    <li>Feb 1 - Quarry with Ken F</li>
    <li>Feb 6 - Stairway to Heavan Ice with Rob Allen and Mike Gibby  @Html.Raw(iceIcon)</li>
    <li>Feb 8 - Quarry with Ken F</li>
    <li>Feb 12 - Quarry with Richard Hilton</li>
    <li>Feb 13 - Quarry with Ana, Paulina and Jakub</li>
    <li>Feb 15 - GWI ice with Mike Gibby  @Html.Raw(iceIcon)</li>
    <li>Feb 15 - Quarry with Ken F</li>
    <li>Feb 17 - Quarry with Ken F</li>
    <li>Feb 22 - Quarry with Ken F</li>
    <li>Feb 24 - Quarry with Ken F</li>
    <li>March 8 - Quarry with Ana</li>
    <li>March 10 - Quarry Bouldering alone</li>
    <li>March 14 - Quarry with Ken F</li>
    <li>March 16 - Quarry with Glenn M</li>
    <li>March 23 - Quarry with Ken F</li>
    <li>March 25 - Quarry with Richard Hilton</li>
    <li>March 28 - Quarry with Ken F</li>
    <li>March 30 - Quarry with Ken F</li>
    <li>April 1 - Quarry with Fred Williams</li>
    <li>April 2 - Rock Canyon with Brad from the Quarry. Green Jello, Green Monster, and Hamster Forever</li>
    <li>April 4 - Quarry with Ken F</li>
    <li>April 6 - Quarry with Ken F</li>
    <li>April 11 - Quarry with Ken F</li>
    <li>April 17 - Quarry with Derek and Cori</li>
    <li>April 20 - Quarry with Derek and Cori</li>
    <li>April 21 - Quarry with Jeff and Brad</li>
    <li>April 25 - Quarry with Jeff, Brad, and Mike</li>
    <li>
        April 28 - Quarry with Alan Moore.  Brad belayed me on the lead climb (green 5.10d) and I got it clean.
        <i>
            Started climbing at the Quarry with Alan Moore, and Mike Hall.
            Mike faded away in September 2016, and Alan lasted until May 15, 2017 but would never learn to lead climb or lead belay.
        </i>
    </li>

    <li>May 2 - Quarry with Jeff, Brad, and Mike</li>
    <li>
        May 3 - Quarry with Alan Moore <span style="color:red">
            I continued to get two days a week in at the Quarry,
            so I'm not going to track it anymore!!!
        </span>
    </li>
    <li>July 16 - Brad Meyers and I climbed Steorts Ridge in BCC</li>
    <li>July 30 - Brad Meyers and I climbed Western Front, and first pitch (the one below Wizardly Way) on Trilogy Buttress</li>
    <li>Aug 21 - Sundial Peak via the 11th hour route with Mike Halls</li>
    <li>Aug 27 - Portable Darkness on Devils Castle with Mike Halls</li>
    <li>Sept 10 - DJW Memorial, and Main Crack on Ed and Terry Wall Rock Canyon wiht Mike Halls</li>
    <li>Sept 15 - I have now lead 4 different 11a’s (some multiple times), and two of them I did on-sight.  I feel like I can safely say 11a lead at the gym is my level, and 11d on top-rope.</li>
    <li>Sept 17 - Maple Canyon with Mike Halls:  Dizzy Channel, Grecian Highway, Crime Scene(? Bridge Area?), Hematomia (? Bridge Area?), Man Muncher (Box Canyon)</li>
    <li>Sept 24 & 25 - Moonlight Buttress - Zion Canyon - Aid climbed with Danny Lay.</li>
    <li>Oct 1 – P1 and 2 of Western Front, then the third pitch of Feral Debutantes, Rock Canyon with Billy Hanncock.</li>
    <li>Oct 15 – Trilogy Buttress in Rock Canyon, with Brad Meyers</li>
    <li>Oct 22 – Pentapitch in LCC with Brad Meyers, skipped P5</li>

    <li>Nov 24 – Cookie Monster, and P6 of Cat in the Hat at Red Rock, followed by P1 and 2 of Dark Shadows with Daniel Lay</li>
    <li>Nov 25 - P1-P4 (as three pitches) of Triassics Sands on the Black Velvet Wall with Daniel Lay</li>
    <li>Nov 26 - Friedas's Flake on lower Solar Slab as one 70 m pitch followed by p3 and P4 of Johnny Vegas as one Pitch, with Daniel Lay</li>
    <li>Dec 10 - Dirtcicle (ICE) with Brad Meyers  @Html.Raw(iceIcon)</li>
    <li>Dec 28 - Itchy and Scratchy (ICE) with Ken Wood  @Html.Raw(iceIcon)</li>
    <li>Dec 29 - Stairway to Heavan (ICE) with Ken Wood  @Html.Raw(iceIcon)</li>
    <li>Dec 31 - Great White Icicle with Brad Meyers  @Html.Raw(iceIcon)</li>
</ol>

<a id="2017" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2017</div>
</div>
<ol>
    <li>Jan 7 - Millers Thriller with Brad Meyers  @Html.Raw(iceIcon)</li>
    <li>Jan 28 - Ouray (4 climbs) with Brad Meyers  @Html.Raw(iceIcon)</li>
    <li>Jan 29 - Ouray (7 climbs) with Brad Meyers  @Html.Raw(iceIcon)</li>
    <li>Jan 30 - Ouray (5 climbs) with Brad Meyers  @Html.Raw(iceIcon)</li>
    <li>Feb 4 - Donercicle with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>
        March 11 - Addenage and Curious George at Rock Canyon with Hayes Campbell.  Hayes answered my Quarry add for a lead partner, but needed some training.
        First climbed with him March 4 at the Quarry. March 22 he failed the belay portion of the lead test as I climbed to fast.
        March 29 he passed the test (climbing and belaying). April 18 we climbed for the last time as he moved away shortly after that.
    </li>
    <li>May 3 & 10 - Quarry, lead climbing, with some guy named Austin who texted me from an add I posted on the board. <span style="color:red">May 15 - Froze my Quarry pass as Alan Moore quit and I no longer had a steady partner.  After a month or two I cancelled it as I never found a partner.</span></li>
    <li>May 28 - 7 pitches on Cosmic Dust Lazers with Brad Meyers</li>
    <li>August 3 - Quarry on Jeff Roses guest pass. <span style="color:red">August 10, 2017, rejoined the Quarry and started climbing twice a week, regularly with Jeff Rose.</span></li>
    <li>August 20(?) - Rock Canyon with Jeff Rose.  Might have been Green Monster area and Tinker Toys(?)</li>
    <li>August 27(?) - Rock Canyon with Jeff Rose.  Might have been The Hidden area(?)</li>
    <li>Sept 30 - White Rocks (UT west Desert) with Jeff Rose</li>
    <li>Oct 8 - Addenage at Rock Canyon with Jeff Rose</li>
    <li>Dec 2 - Dirtcicle with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>Dec 10 - Dirtcicle with Jeff Rose @Html.Raw(iceIcon)</li>
</ol>

<a id="2018" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2018</div>
</div>
<ol>
    <li>Jan 7 - Stairway to Heaven and White Nightmare - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Feb 10 - Dirtcicle with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>Feb 11 - Dirtcicle with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>Feb 17 - Dirtcicle and Highway to Heaven with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Feb 24 - Donercicle/Highway to Heaven with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>March 3 - Squashead P1 lead, belayed by one of two brothers names unknown @Html.Raw(iceIcon)</li>
    <li>March 7 - Highway to Heaven/CCC (P2)/Donercicle with Brent Zimmerman @Html.Raw(iceIcon)</li>
    <li>March 10 - Dirtcicle with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>March 11 - Squashhead p1&2 with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>March 17 - Highway to Heaven/CCC (P2) with Mike Gibby @Html.Raw(iceIcon)</li>
    <li>April 3 - Frozen in Time (aka Sundial Falls), WI3, with John Pettijon (forst bite two fingers) @Html.Raw(iceIcon)</li>
    <li>April 6 - Highway to Heaven and Little Donercicle with Brent Zimmerman @Html.Raw(iceIcon)</li>
    <li>May 5 - Jagged Edge with Brent Zimmerman</li>
    <li>May 18 -Barbarian route on the Circus Wall in Snow Canyon with Mike Gibby. Thousand Pints of Lite with Brent Zimmerman/Mike Gibby.</li>
    <li>May 19 - Green Valley Gap and Beaver Dam Mtns Road area called Sunset Alley with Brent Zimmerman and Mike Gibby.</li>
    <li>May 20 - Past Lives on Prophesy Wall with Brent Zimmerman/Mike Gibby.</li>
    <li>July 15 - Bear Hollow in Echo Canyon with Jeff Rose</li>
    <li>July 22 - Red Wonder Wall with Jeff Rose</li>
    <li>
        July 29 - Rock Canyon. Curious George (I lead it twice), then at The Wild (I did two route,
        Call of the Wild, and Welcome to the Jungle),
        and I TRed Monkey Bars at the Zoo. With Jeff Rose
    </li>
    <li>August 18 - Rasberry Dream, Hall of Flags, 29, Fern Gully, Insane in the Membrane AF Canyon with Jeff Rose and Darren Knezek</li>
    <li>August 25 - Tres Hermanos(2 times), Bushy Tailed Wood Rat (3 times), Short, Shitty and Sharp (1 time), Stinger (1 time), The Drone (1 time), The Rattler (TR, to pumped to finish it) - All on the Drone Wall</li>
    <li>Sept 2 - Two laps on Green Jello (p1 lead, p2 follow, then p1 follow, p2 lead), TR Green Monster Crack, TR Battleship, lead GI Joe. Rock Canyon with Jeff Rose</li>
    <li>Sept 9 - La Park climbing area in Monroe Canyon (?), Monroe UT.  2 lead laps on a 5.10a, TR 5.10b right of first 5.10a, 1 lead on Boyles 5.10a, TR Ambrose 5.11a, TR Black water steak 5.11a, TR right most 5.11.  With Jeff Rose and Darren Knezek</li>
    <li>Sept 23 - Early Bird Crag, Maple Canyon, UT.  Return of Drill Slinger, Early Bird Arete, Silt in the Saddle Stitching, Fast Times at Wolverine High, Yankee Doodle Arch, TRed Percolator(?), 10C Version of Eagles Nest.  With Jeff Rose</li>
    <li>Sept 29 - Prophesy Wall - Past Lives (twice), and Harsh Realtiy with Brent Zimmerman</li>
    <li>Sept 30 - Island in the Sky area - Just Desserts (did p1-3 then p1 again) with Brent Zimmerman</li>
    <li>Oct 28 - Pink Canoe at Black Rose, The Edge and Only whimps at Apendage with Jeff Rose.</li>
    <li>Nov 22 - TR laps on Bridal Veil Apron with Jeff Rose and Mike Gibby @Html.Raw(iceIcon)</li>
    <li>Dec 2 - TR laps on Bridal Veil Apron with Brad Myers @Html.Raw(iceIcon)</li>
    <li>Dec 8  - Pure Fun in Battle Creek with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Dec 9  - Bridal Veil Apron with Brent Zimmerman @Html.Raw(iceIcon)</li>
</ol>

<a id="2019" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2019</div>
</div>
<ol>
    <li>Jan 5 - Battle Fork, right of falls and Pure Fun - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Jan 13 - Four pitches of Stairway To Heaven - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Jan 19 - Maple Canyon: Running Man, Dagger, Wet Itchies - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Jan 26 - The Fang, FMR - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Feb 2 - Finger of Fate - with Jeff Rose, and Willis Knapp @Html.Raw(iceIcon)</li>
    <li>Feb 9 - Fudge Packer - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Feb 11 - Highway to Heaven - with Brent Zimmerman @Html.Raw(iceIcon)</li>
    <li>Feb 17 - Donorcicle and CCC - with Jeff Rose, and Channing @Html.Raw(iceIcon)</li>
    <li>Feb 20 - Highway to Heaven, Masterlock, and Upper CCC - with Brad Meyers @Html.Raw(iceIcon)</li>
    <li>Feb 24 - Santaquin Canyon, Automatic Control Theory (WI5-6) - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>March 3 - Santaquin Canyon, Squashhead - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>March 16 - Donercicle, Baby Donercicle, upper CCC, Deadbolt - solo @Html.Raw(iceIcon)</li>
    <li>June 23 - Western Front and Pitch on Trilogy Buttress - with Brad Meyers</li>
    <li>July 1 - Milts Delight and Bear Grass(?) on Bears Hump - with Brent Zimmerman and Ken Wood.</li>
    <li>July 20 - Tatooine Area of Galaxy Wall in Rock Canyon with Jeff Rose</li>
    <li>September 22 - Tatooine Area of Galaxy Wall in Rock Canyon with Jeff Rose, I finally led Jawa Jama clean.</li>
    <li>Nov 3 - Little Dear Creek Falls - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Dec 1 - Two laps on Stairway Apron - self belay. @Html.Raw(iceIcon)</li>
    <li>Dec 20 - Four laps on Stairway Apron - self belay. @Html.Raw(iceIcon)</li>
    <li>Dec 21 - Four laps on Battle Fork, right of falls  - self belay. @Html.Raw(iceIcon)</li>
</ol>

<a id="2020" class="RockAnchor"></a>
<div class="row">
    <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;">2020</div>
</div>
<ol>
    <li>Jan 4 - Dirtcicle - with Brad Meyer, I lead the right hand side. @Html.Raw(iceIcon)</li>
    <li>Jan 11 - Pitches 1 & 2 of the Fang - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Jan 18 - Bridal Veil Left and Right - with Jeff Rose, I lead P1 of Right. @Html.Raw(iceIcon)</li>
    <li>Jan 25 - Maple - with Jeff Rose, I lead Road Side Coulior, Jeff lead Cobble Cruncher. @Html.Raw(iceIcon)</li>
    <li>Feb 1 - Free solo, then self belay on Iron Oxide Falls, Spanish Fork Canyon. @Html.Raw(iceIcon)</li>
    <li>Feb 9  - Pitches 1, 2 & 3 of Stairway to Heaven - with Jeff Rose @Html.Raw(iceIcon)</li>
    <li>Feb 13  - Donercicle, CCC, Deadbolt in Joe's Valley - with Jeff Rose, I lead CCC P1 & P2, also Deadbolt. @Html.Raw(iceIcon)</li>
    <li>Feb 22  - Squashhead - with Justin & Rachel Hulet, I lead P1. @Html.Raw(iceIcon)</li>
    <li>Feb 29 - Dirtcicle - self belay, six laps. @Html.Raw(iceIcon)</li>
</ol>
<br />
<br />
@Html.Raw(jumpTo)
