@using Walter.ViewModels;
@model List<VmPhotoYear>
@{
    int lagYear = 0;
    string yearList = string.Empty;
    int albumsPerYear = 0;
    int totalAlbums = 0;
}
<br />
<div id="jumpTo"></div>
@foreach (var y in Model)
{
    if (lagYear != y.Year)
    {
        lagYear = y.Year;
        yearList += y.Year + ",";
        albumsPerYear = y.Col1.Count + y.Col2.Count + y.Col3.Count + y.Col4.Count;
        @YearHeader(y.Year, albumsPerYear)
        totalAlbums = totalAlbums + albumsPerYear;
    }
    <div class="row">
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col1)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col2)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col3)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col4)
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: right"><span class="badge">@albumsPerYear</span></div>
    </div>
}
@{
    int length = yearList.Length - 1;
    yearList = yearList.Substring(0, length);
    yearList = "[" + yearList + "]";
}
<br />
<br />
	Total Albums: <span class="badge">@totalAlbums</span>
    @section DocumentReady
{
        <script>
            $(document).ready(function () {
                createJumpAnchors(@yearList, 'Year','jumpTo');
            });
        </script>
    }

@* -----------------------------------------------------------------------------
    Helper Methods
------------------------------------------------------------------------------- *@
    @helper YearHeader(int year, int count)
{
    <br />
    <div class="row">
        <a id="Year@(year)"></a>
        <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;" title="Total albums for @year = @count">@year</div>
    </div>
}

    @helper ListItems(List<VmPhoto> col)
{
    foreach (var item in col)
    {
    <li>
        @if (item.Url.ToLower().IndexOf("picasa") >= 0)
        {
            <span style="color:red" title="Hosted on picasaweb.google.com"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
        }
        else if (item.Url.ToLower().IndexOf("shutter") >= 0)
        {
            <span style="color:blue" title="Hosted on ShuffterFly.com"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
        }
        else if (item.Url.ToLower().IndexOf("facebook") >= 0)
        {
            <span style="color:gray" title="Hosted on facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
        }
        else if (item.Url.ToLower().IndexOf("goo.gl/") >= 0)
        {
            <span style="color:navy" title="Hosted on photos.google.com"><i class="fa fa-google-plus-official" aria-hidden="true"></i></span>
        }
        else
        {
            <text>            HELPPPPPPPP</text>
        }

        <a target="_blank" href="@item.Url">@item.Title</a> <span class="small" title="@item.Id">(@item.Month/@item.Day)</span>

        @if (item.TripReportURL != null)
        {
            <a href="@item.TripReportURL" target="_blank" title="Download/Read Trip Report"><i class="fa fa-book" aria-hidden="true"></i></a>
        }
    </li>
    }
}