@using Walter.ViewModels;
@model VMAllPhotoAlbums
@{
    int lagYear = 0;
    string yearList = string.Empty;
    int albumsPerYear = 0;
    int totalAlbums = 0;
}
@{
    Random rnd = new Random();
    int randomNum = rnd.Next(0, Model.AlbumsByYear.Count);
    int randomColumn = 1;
    int randomItem = 0;


    var randomAlbum = Model.AlbumsByYear[randomNum];
    if (randomAlbum.Col1.Count > 0 && randomAlbum.Col2.Count > 0 && randomAlbum.Col3.Count > 0 && randomAlbum.Col4.Count > 0)
    {

        randomColumn = rnd.Next(1, 4);
    }

    List<VmPhoto> item = new List<VmPhoto>();

    if (randomColumn == 1)
    {
        item = randomAlbum.Col1;
        randomItem = rnd.Next(0, item.Count);
    }
    else if (randomColumn == 2)
    {
        item = randomAlbum.Col2;
        randomItem = rnd.Next(0, item.Count);
    }
    else if (randomColumn == 3)
    {
        item = randomAlbum.Col3;
        randomItem = rnd.Next(0, item.Count);
    }
    else if (randomColumn == 4)
    {
        item = randomAlbum.Col4;
        randomItem = rnd.Next(0, item.Count);
    }


   <a target="_blank" class="btn btn-primary btn-lg" href="@item[randomItem].Url" title="Album: @item[randomItem].Title (@item[randomItem].Month/@item[randomItem].Day/@item[randomItem].Year)">This Album is Amazing!</a> <i class="fa fa-refresh pointer" aria-hidden="true" title="refresh amazing album" onclick="location.reload();"></i>
}
<br />
<br />
<div id="jumpTo"></div>

<div class="row">
    <div class="col-sm-12" style="text-align:right">
        <span style="color:gray" title="@Model.facebookAlbumsCount Albums of @Model.TotalAlbumsCount (@Model.facebookAlbumsCountPercentage) are hosted on facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i> Hosted on Facebook.com</span>
        &nbsp;&nbsp;
        <span style="color:gray" title="@Model.googleAlbumsCount Albums of @Model.TotalAlbumsCount (@Model.googleAlbumsCountPercentage) are hosted on photos.google.com"><i class="fa fa-google-plus-official" aria-hidden="true"></i> Hosted on Photos.Google.com</span>
        &nbsp;&nbsp;
        <span style="color:gray" title="@Model.shutterflyAlbumsAlbumsCount Albums of @Model.TotalAlbumsCount (@Model.shutterflyAlbumsAlbumsCountPercentage) are hosted on ShuffterFly.com"><i class="fa fa-file-image-o" aria-hidden="true"></i> Hosted on ShuffterFly.com</span>
    </div>
</div>


@foreach (var y in Model.AlbumsByYear)
{
    if (lagYear != y.Year)
    {
        lagYear = y.Year;
        yearList += y.Year + ",";
        albumsPerYear = y.Col1.Count + y.Col2.Count + y.Col3.Count + y.Col4.Count;
        @YearHeader(y.Year, albumsPerYear)
        totalAlbums = totalAlbums + albumsPerYear;
    }

    <div class="row">
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col1)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col2)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col3)
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                @ListItems(y.Col4)
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: right"><span class="badge">@albumsPerYear</span></div>
    </div>
}
@{
    int length = yearList.Length - 1;
    yearList = yearList.Substring(0, length);
    yearList = "[" + yearList + "]";
}
<br />
<br />
	Total Albums: <span class="badge">@totalAlbums</span>

    @section DocumentReady
{
        <script>
            $(document).ready(function () {
        createJumpAnchors(@yearList, 'Year','jumpTo');
    });
        </script>
    }

    @* -----------------------------------------------------------------------------
            Helper Methods
        ------------------------------------------------------------------------------- *@
    @helper YearHeader(int year, int count)
    {
        <br />
        <div class="row">
            <a id="Year@(year)"></a>
            <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;" title="Total albums for @year = @count">@year</div>
        </div>
    }

    @helper ListItems(List<VmPhoto> col)
    {
        foreach (var item in col)
        {
            <li>
                <a target="_blank" href="@item.Url">@Html.Raw(item.TitleWithIcon)</a> <span class="small" title="@item.Id">(@item.Month/@item.Day)</span>

                @if (item.TripReportURL != null)
                {
                    <a href="@item.TripReportURL" target="_blank" title="Download/Read Trip Report"><i class="fa fa-book" aria-hidden="true"></i></a>
                }
            </li>
        }
    }