@using Walter.ViewModels;
@model VMForecast
@{
    ViewBag.Title = "Test";
}

<h2>Learning Partial Views</h2>

<br />
<div>
    @for (int i = 1; i < 13; i++)
    {
        @MonthName(i, 2016);
        <table>
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>Forecast</th>
            </tr>
            @foreach (var p in Model.AllProducts)
            {
                var rowItem = new VMphoto();
                var RDForecastThisItem = Model.RdForecast.Where(t => t.Title == p.Title).ToList();

                if (RDForecastThisItem.Count == 0)
                {
                    @Row(p)
                }
                else
                {
                    @Row(RDForecastThisItem[0]);
                }
            }
        </table>
    }
</div>
@* -----------------------------------------------------------------------------
       Helper Methods
    ------------------------------------------------------------------------------- *@
@helper MonthName(int month, int year)
{
    DateTime dtDate = new DateTime(year, month, 1);
    string monthNameShort = dtDate.ToString("MMM");
    string monthName = dtDate.ToString("MMMM");

    <div class="well well-sm" style="margin-top: 20px;margin-bottom: 0px">
        @monthName @year
    </div>
}

@helper Row(VMphoto item)
{
    <tr>
        <td>@item.Id</td>
        <td style="padding: 10px">@item.Title</td>
        <td>@item.Day</td>
    </tr>
}