@using System.Collections;
@using Walter.ViewModels;
@model VMForecast
@{
    Layout = null;

    var HiddenRows = new Dictionary<string, string>();

    string RowId = "";
    bool hasNoForecasts = true;
}
<table>
    <tr>
        <th style="padding: 10px">&nbsp;</th>
        <th>ProductID</th>
        <th style="padding: 10px">ProductName</th>
        <th>Forecast</th>
    </tr>
    @foreach (var p in Model.AllProducts)
    {
        var rowItem = new VMphoto();
        var RDForecastThisItem = Model.RdForecast.Where(t => t.Title == p.Title).Where(m => m.Month == (int)ViewBag.MonthInt).ToList();

        if (RDForecastThisItem.Count == 0)
        {
            RowId = "Row_" + Model.ForecastYearId.ToString() + "_" + ViewBag.MonthInt.ToString() + "_" + p.Id.ToString();
            HiddenRows.Add(RowId, p.Title);
            @Row(RowId, p);
        }
        else
        {
            var temp = RDForecastThisItem[0];
            RowId = "Row_" + Model.ForecastYearId.ToString() + "_" + ViewBag.MonthInt.ToString() + "_" + temp.Id.ToString();
            hasNoForecasts = false;
            @Row(RowId, temp);
        }
    }
    @if(hasNoForecasts)
    {
    <tr id="trNoForecast@(ViewBag.MonthInt)">
        <td colspan="4">You have no forecast this month, please pick a product to forecast on.</td>
    </tr>
    }
</table>
<br /><br />
<b>Add: </b>
<select id="Add_@ViewBag.MonthInt">
    @foreach (var item in HiddenRows)
    {
        @*<span onclick="$('#@item').show();">@item</span> @:|&nbsp;*@

        <option value="@item.Key">@item.Value</option>
    }
</select> <i class="fa fa-plus-square" onclick="var v = $('#Add_@ViewBag.MonthInt').val(); $('#' + v).show(); $('#Add_@ViewBag.MonthInt option[value=' + v + ']').remove(); $('#trNoForecast@(ViewBag.MonthInt)').hide();"></i>

@* -----------------------------------------------------------------------------
       Helper Methods
    ------------------------------------------------------------------------------- *@
@helper Row(string RowId, VMphoto item)
{
    string display = "";

    if (item.Day == 0) //Day = forecast for this example
    {
        display = "style=display:none;";
    }
    <tr id="@RowId" @display>
        <td style="padding: 10px" onclick="$('#@RowId').hide();$('#Add_@ViewBag.MonthInt').append($('<option></option>').attr('value','@RowId').text('@item.Title'));">
            <i class="fa fa-times"></i>
        </td>
        <td>@item.Id</td>
        <td style="padding: 10px">@item.Title</td>
        <td>@item.Day</td>
    </tr>
}
