@model Walter.ViewModels.VmElmahErrors
@{
	ViewBag.Title = "Elmah";
	int totalErrors = 0;
}

Unique Errors: <span class="badge">@Model.Errors.Count</span>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Message</th>
		<th>Count</th>
		<th>Newest</th>
		<th>Oldest</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var err in Model.Errors)
	{
		totalErrors += @err.Count;
		<tr>
			<td style="max-width: 300px"><a href="@Url.Action("Detail", "ErrorLog")?showErrors=10&MaxSequence=@err.MaxSequence&count=@err.Count&msg=@err.Message">@err.Message</a></td>
			<td>@err.Count</td>
			<td>@err.Newest</td>
			<td>@err.Oldest</td>
		</tr>
	}
	</tbody>
</table>
Total Errors: <span class="badge">@totalErrors</span>
<br/>
<br/>
The Table above was generated from the SQL below:
<br/>
<textarea rows="4" cols="100">@Model.Sql</textarea>
