@model Walter.ViewModels.VmElmahDetails
@{
	ViewBag.Title = "ElmahDetails";
	string http = string.Empty;
	string fullUrl = string.Empty;
	string browser = string.Empty;
	string referer = string.Empty;
	int count = 0;
	int showErrors = 0;
}

<div class="row" id="divFilters">
	<div class="col-sm-6">
		<a href="@Url.Action("index", "Elmah")"><i class="fa fa-step-backward"></i> Elmah Unique Errors</a>
	</div>
	<div class="col-sm-6" style="text-align: right">
		<form action="@Url.Action("Detail","Elmah")" id="form1" name="form1" method="GET">
			Displaying details for
			@{
				count = Convert.ToInt32(Request.QueryString["count"].ToString());
				showErrors = Convert.ToInt32(Request.QueryString["showErrors"].ToString());

				if (count < showErrors)
				{
					showErrors = count;
				}
			
			}
			@Options(count, showErrors) of @Request.QueryString["count"].ToString() errors.
			<input type="hidden" name="count" id="count" value="@Request.QueryString["count"]" />
			<input type="hidden" name="msg" id="msg" value="@Request.QueryString["msg"]" />
			<input type="hidden" name="maxSequence" id="maxSequence" value="@Request.QueryString["MaxSequence"]" />
		</form>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Mtn Time<br/><em>(Sequence)</em></th>
			<th>URL<br/><em>(Referer)</em></th>
			<th>UserAgent</th>
			<th>XML</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var detail in Model.Details)
		{
			http = "http://" + detail.ServerName + detail.Url;
			fullUrl = http;
			if (!string.IsNullOrEmpty(detail.QueryString))
			{
				fullUrl += "?" + detail.QueryString;
			}

			if (@detail.UserAgent.ToLower().IndexOf("trident") > 0)
			{
				browser = "IE";
			}
			else if (@detail.UserAgent.ToLower().IndexOf("chrome") > 0)
			{
				browser = "Chrome";
			}

			referer = detail.Referer;

			if (detail.Referer.Length > 100)
			{
				referer = detail.Referer.Substring(0, 100) + "...";
			}

			<tr>
				<td>@detail.MtnTime<br/><em>(@detail.Sequence)</em></td>
				<td style="white-space: nowrap">
					<a href="@fullUrl" target="_blank">@http</a>
					<br />
					<em>(<a href="@detail.Referer" target="_blank">@referer</a>)</em>
				</td>
				<td>
					<b>@browser</b>
					<br />
					@detail.UserAgent
				</td>
				<td style="white-space: nowrap">
					<form id="form@(detail.Sequence)" action="@Url.Action("CreateFile", "Elmah")" method="POST">
						<a onclick="document.getElementById('form@(detail.Sequence)').submit();" title="Download XML" style="cursor: pointer"><i class="fa fa-download"></i></a>
						<a onclick="OpenElmahXML(@detail.Sequence)" style="cursor: pointer"><i class="fa fa-external-link-square" title="View XML"></i></a>
						<div id="div@(detail.Sequence)" style="display: none;">@detail.AllXml</div>
						<input type="hidden" value="@(detail.AllXml)" id="xml" name="xml"/>
						<input type="hidden" value="@(detail.Sequence)" id="sequence" name="sequence" />
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
<br />
		The Table above was generated from the SQL below:
<br />
<textarea rows="4" cols="100">@Model.Sql</textarea>


@*-------------- Modal ------------------*@

<div class="modal fade" id="ModalElmahXML" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="padding: 10px">
			<button type="button" class="close" data-dismiss="modal" style="padding: 10px">&times;</button>
			<div class="well well-sm">
				<h4>XML</h4>
			</div>
			<div class="modal-body">
				<textarea id="textAreaModalBody" rows="20" cols="70"></textarea>
			</div>
		</div>
	</div>
</div>

@* -----------------------------------------------------------------------------
	   Helper Methods
	------------------------------------------------------------------------------- *@
@helper Options(int max, int showErrors)
{
	var arr = new int[] { 1, 10, 100, 1000, max};
	Array.Sort(arr);

	var unique = arr.Distinct().ToArray();
	
	<select id="showErrors" name="showErrors" onchange="document.getElementById('form1').submit()">
		@foreach (var i in unique)
		{
			if (i <= max)
			{
				if (i == showErrors)
				{
					<option selected value="@i">@i</option>
				}
				else
				{
					<option value="@i">@i</option>
				}
			}
		}
	</select>
}
