@using Walter.ViewModels;
@model List<VmPhotoYear>
    @{
        ViewBag.Title = "Adventures";
        int lagYear = 0;
        string jumpTo = string.Empty;
        int albumsPerYear = 0;
        int totalAlbums = 0;
    }

    <div class="container">
        <br />
        <div class="well well-sm">
            <h2><i class="fa fa-camera-retro fa-lg" id="totalAlbums"></i> Adventures</h2>
            Below are links to pictures of my most memorial adventures
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br /><br />
        <span style="color: red; font-weight: bold">To do:</span> Add links to trip reports???
        <br /><br />
        <div id="jumpTo"></div>
        @foreach (var y in Model)
        {
            if (lagYear != y.Year)
            {
                lagYear = y.Year;
                jumpTo += y.Year + ",";
                albumsPerYear = y.Col1.Count + y.Col2.Count + y.Col3.Count + y.Col4.Count;
                @YearHeader(y.Year, albumsPerYear)
                totalAlbums = totalAlbums + albumsPerYear;
            }
            <div class="row">
                <div class="col-sm-3">
                    <ul>
                        @ListItems(y.Col1)
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        @ListItems(y.Col2)
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        @ListItems(y.Col3)
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        @ListItems(y.Col4)
                    </ul>
                </div>
            </div>
        }
        @{
            int length = jumpTo.Length - 1;
            jumpTo = jumpTo.Substring(0, length);
            jumpTo = "[" + jumpTo + "];";
        }
        <script>
            $(document).ready(function () {
                var jumpTo = @jumpTo;
                var jumpToMenu = "";
                var lastIndex = jumpTo.length -1;
                $.each( jumpTo, function( index, value ){
                    jumpToMenu +=  "<a href='#Year" + value + "'>" + value + "</a>";
                    if(index < lastIndex)
                    {
                        jumpToMenu += " | ";
                    }
                });

                $('#jumpTo').html("Jump to: " + jumpToMenu);
                $('#totalAlbums').attr('title', 'Total Albums: @totalAlbums');
            });
        </script>
    </div>
    @* -----------------------------------------------------------------------------
           Helper Methods
        ------------------------------------------------------------------------------- *@
    @helper YearHeader(int year, int count)
{
    <br />
    <div class="row">
        <a id="Year@(year)"></a>
        <div class="col-sm-12" style="background-color:#eee; color:black; font-weight:bold;" title="Total albums for @year = @count">@year</div>
    </div>
}

    @helper ListItems(List<VmPhoto> col)
{
    foreach (var item in col)
    {
        <li><a target="_blank" href="@item.Url">@item.Title</a> <span class="small" title="@item.Id">(@item.Month/@item.Day)</span></li>
    }
}